.productName {
  font-size: 1.25rem;
}

.quantityButton {
  border: none;
  background-color: #ffffff;
}

.deleteButton {
  margin-left: auto;
  color: white;
  font-weight: bold;
  border: none;
  background-color: transparent;
}


.dollarSign {
  margin-right: .25rem;
}

.priceCents {
  font-size: 0.85rem;
}
