.container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;

  width: 25rem;
}

.closeButton {
  position: absolute;
  left: -50px;
  width: 50px;
  height: 50px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.productsList::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.productsList {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@media (max-device-width: 540px) {
  .container {
    width: 100%;
  }

  .closeButton {
    position: unset;
    width: auto;
    height: auto;
    margin-left: auto;
    padding: 0;

    border: 1px solid white;
  }
}
