.productContainer {
  display: flex;
}

.productDetails {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 1rem;
  overflow: hidden;
}

.productImage {
  width: 160px;
  height: 160px;
}

.productText {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.productTitle {
  font-size: 1.15rem;
}

.productQuantity {
  margin: 0 1rem;
}

.deleteButton {
  display: block;
  margin-left: auto;
  padding: 0.5rem;
}
