@font-face {
  font-family: "SF Mono";
  src: url(./assets/fonts/SF-Mono-Medium.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: SF Mono, Fira Code, Fira Mono, Roboto Mono, Lucida Console,
    Monaco, monospace;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
}

#root {
  height: 100vh;
}

.invisible {
  visibility: hidden !important;
}

.visible {
  visibility: visible !important;
}
