.navbar {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  box-shadow: 0 0 3px 2px rgb(211, 211, 211);
}

.navBrand {
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
}

.cartButton {
  margin-left: auto;
}

.cartIcon {
  margin-right: 0.25rem;
}
